@font-face {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url(cascadia-code.woff2) format("woff2");
}

@font-face {
  font-family: "Cascadia Code";
  font-style: italic;
  font-weight: 200 700;
  font-display: swap;
  src: url(cascadia-code-italic.woff2) format("woff2");
}
