* {
  line-height: calc(1em + 0.5rem);

  &,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  &:not(dialog) {
    margin: 0;
  }
}

:root {
  background-color: oklch(0.98 0 0);
  color: oklch(0 0 0 / 80%);
  --accent-color: oklch(0.57 0.2 20);

  max-width: 100ch;
  margin: 0 auto;

  font-family: "Inter Variable", sans-serif;
  font-size: 1rem;

  --spacing-xxs: 0.25rem;
  --spacing-xs:  0.5rem;
  --spacing-sm:  0.75rem;
  --spacing-md:  1.25rem;
  --spacing-lg:  2rem;
  --spacing-xl:  3.25rem;
  --spacing-xxl: 5.25rem;

  @media screen and (prefers-color-scheme: dark) {
    background-color: oklch(0.2 0 0);
    color: oklch(1 0 0);
    --accent-color: oklch(0.63 0.2 20);
  }
}
