---
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import AgeDisplay from "@/components/home/age-display.astro";
import ProjectList from "@/components/home/project-list.astro";
import SocialLinks from "@/components/home/social-links.astro";
import Layout from "@/layouts/layout.astro";

const MY_BIRTHDAY = "1998-10-31T00:00:00-03:00";
---

<Layout>
  <Header />

  <main class="home">
    <h1 class="home__header">
      <span class="home__greeting">Hi, I’m</span>
      <span class="home__name">Naiara~ ♡</span>
    </h1>

    <SocialLinks />

    <p class="home__text">
      I consider myself a Software Artisan: I love building things and giving
      them my own personal touch, my signature. To me, programming is a form of
      self-expression—a way to show how I view the world—rather than just a
      means to solve problems.
    </p>

    <p class="home__text">
      I’m <AgeDisplay birthDate={MY_BIRTHDAY} /> years old and based in Argentina.
      My roots are in <strong>C and C#</strong>, which gave me a strong
      foundation, though nowadays I’m most fluent in <strong
        >JavaScript/TypeScript, Vala, and Dart</strong
      >. I’m also diving deep into the <strong>Nix</strong> and <strong
        >Rust</strong
      > ecosystems, always looking to expand my craft.
    </p>

    <p class="home__text">
      Currently, I’m pouring my energy into two main projects:
    </p>

    <ProjectList />

    <p class="home__text">
      When I’m not coding, I’m usually catching up on anime or gaming. Right
      now, I’m watching <em>Umamusume: Pretty Derby</em> and absolutely loving <em
        >Gachiakuta</em
      >. On the gaming front, I’m playing through the <em>Tomb Raider (2013)</em
      > reboot and surviving the kitchen caos of <em>Overcooked! 2</em> with my girlfriend.
    </p>

    <p class="home__text">
      My ultimate goal is simply to leave this world better than I found it. I
      strive to learn something new every day and improve people’s lives in some
      way—bit by bit, line by line.
    </p>
  </main>

  <Footer />
</Layout>

<style>
  .home {
    display: flex;
    flex-direction: column;

    flex: 1;

    gap: var(--spacing-md);
  }

  .home__header {
    display: flex;
    flex-direction: column;
    font-weight: 800;
  }

  .home__greeting {
    color: color-mix(in srgb, var(--color-on-surface) 89%, transparent);
    font-size: 1.5rem;
  }

  .home__name {
    display: inline-block;

    color: var(--color-primary);

    font-family: "Shantell Sans", cursive;
    font-size: clamp(2.5rem, 2.1rem + 1.8cqi, 3rem);
    font-variation-settings: "INFM" 100;

    transition: color 200ms var(--curve-fast-out-slow-in);

    @media (prefers-reduced-motion: no-preference) {
      animation: bounce-animation 1s alternate infinite ease-in-out;
    }
  }

  @keyframes bounce-animation {
    0% {
      font-variation-settings: "BNCE" -30;
    }

    100% {
      font-variation-settings: "BNCE" 30;
    }
  }

  .home__text {
    max-width: 65ch;
  }

  :global(strong) {
    color: var(--color-primary-text);
    font-weight: 600;
    transition: color 200ms var(--curve-fast-out-slow-in);
  }
</style>
