---
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import CodebergIcon from "@/icons/codeberg.svg";
import FediverseIcon from "@/icons/fediverse.svg";
import GitHubIcon from "@/icons/github.svg";
import LinkedInIcon from "@/icons/linkedin.svg";
import Layout from "@/layouts/layout.astro";
import { calculateAge } from "@/utils/time";

const MY_BIRTHDAY = "1998-10-31T00:00:00-03:00";
const initialAge = calculateAge(MY_BIRTHDAY);

const socials = [
  {
    href: "https://codeberg.org/nyx_lyb3ra",
    Icon: CodebergIcon,
    label: "Codeberg",
  },
  {
    href: "https://github.com/nyx-lyb3ra",
    Icon: GitHubIcon,
    label: "GitHub",
  },
  {
    href: "https://tech.lgbt/@nyx_lyb3ra",
    Icon: FediverseIcon,
    label: "Fediverse",
  },
  {
    href: "https://linkedin.com/in/naiara-gomez-castro",
    Icon: LinkedInIcon,
    label: "LinkedIn",
  },
];
---

<Layout>
  <Header />

  <main class="bio">
    <h1 class="bio__header">
      <span class="bio__greeting">Hi, I’m</span>
      <span class="bio__name">Naiara~ ♡</span>
    </h1>

    <ul class="bio__socials">
      {
        socials.map(({ href, Icon, label }) => (
          <li>
            <a
              href={href}
              class="bio__social-link"
              aria-label={label}
              target="_blank"
              rel="me noopener noreferrer"
            >
              <Icon />
            </a>
          </li>
        ))
      }
    </ul>

    <p class="bio__text">
      I consider myself a Software Artisan: I love building things and giving
      them my own personal touch, my signature. To me, programming is a form of
      self-expression—a way to show how I view the world—rather than just a
      means to solve problems.
    </p>

    <p class="bio__text">
      I’m <span id="age-display" data-date={MY_BIRTHDAY}>{initialAge}</span> years
      old and based in Argentina. My roots are in <strong>C and C#</strong>,
      which gave me a strong foundation, though nowadays I’m most fluent in <strong
        >JavaScript/TypeScript, Vala, and Dart</strong
      >. I’m also diving deep into the <strong>Nix</strong> and <strong
        >Rust</strong
      > ecosystems, always looking to expand my craft.
    </p>

    <p class="bio__text">
      Currently, I’m pouring my energy into two main projects:
    </p>

    <ul class="projects-list">
      <li class="projects-list__item">
        <strong>K’uychi:</strong> A color palette tool built with TS and GJS (available
        on Flathub). It intelligently generates tints and shades based on a color’s
        luminosity, making it easy to copy hex codes for your designs.
      </li>

      <li class="projects-list__item">
        <strong>Fabric:</strong> A meta-framework I’m architecting to manage multiple
        NixOS systems from a single flake.
      </li>
    </ul>

    <p class="bio__text">
      When I’m not coding, I’m usually catching up on anime or gaming. Right
      now, I’m watching <em>Umamusume: Pretty Derby</em> and absolutely loving <em
        >Gachiakuta</em
      >. On the gaming front, I’m playing through the <em>Tomb Raider (2013)</em
      > reboot and surviving the kitchen caos of <em>Overcooked! 2</em> with my girlfriend.
    </p>

    <p class="bio__text">
      My ultimate goal is simply to leave this world better than I found it. I
      strive to learn something new every day and improve people’s lives in some
      way—bit by bit, line by line.
    </p>
  </main>

  <Footer />

  <script>
    import { calculateAge } from "@/utils/time";

    const ageDisplay = document.getElementById("age-display");
    const birthDate = ageDisplay?.dataset["date"];

    if (birthDate) {
      const realAge = calculateAge(birthDate);

      if (ageDisplay.innerText !== realAge.toString()) {
        ageDisplay.innerText = realAge.toString();
      }
    }
  </script>
</Layout>

<style>
  .bio {
    display: flex;
    flex-direction: column;

    font-size: clamp(1rem, 0.9rem + 0.45cqi, 1.125rem);

    flex: 1;

    padding: var(--spacing-lg) var(--spacing-md);
    gap: var(--spacing-md);
  }

  .bio__header {
    display: flex;
    flex-direction: column;
    font-weight: 800;
  }

  .bio__greeting {
    color: color-mix(in srgb, var(--color-on-surface) 89%, transparent);
    font-size: 1.5rem;
  }

  .bio__name {
    display: inline-block;

    color: var(--color-primary);

    font-family: "Shantell Sans", cursive;
    font-size: clamp(2.5rem, 2.1rem + 1.8cqi, 3rem);
    font-variation-settings: "INFM" 100;

    transition: color 200ms var(--curve-fast-out-slow-in);

    @media (prefers-reduced-motion: no-preference) {
      animation: bounce-animation 1s alternate infinite ease-in-out;
    }
  }

  @keyframes bounce-animation {
    0% {
      font-variation-settings: "BNCE" -30;
    }

    100% {
      font-variation-settings: "BNCE" 30;
    }
  }

  .bio__text {
    max-width: 65ch;
  }

  .bio__socials {
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

    margin-block-end: var(--spacing-md);
    padding: 0;
    gap: var(--spacing-md);

    list-style: none;
  }

  .bio__social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-on-surface);

    width: 1.75rem;
    height: 1.75rem;

    transition:
      color 200ms var(--curve-fast-out-slow-in),
      transform 200ms var(--curve-fast-out-slow-in);

    &:hover {
      color: var(--color-primary);
      transform: translateY(-3px);
    }
  }

  .projects-list {
    display: flex;
    flex-direction: column;

    max-width: 65ch;

    margin: 0;
    padding-inline-start: var(--spacing-md);
    gap: var(--spacing-sm);
  }

  strong {
    color: var(--color-primary-text);
    font-weight: 600;
    transition: color 200ms var(--curve-fast-out-slow-in);
  }
</style>
