---
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <Header />

  <main class="hero">
    <section class="hero__content">
      <h1 class="hero__title">
        Hi there, I’m <span class="highlight">Naiara ♡</span>
      </h1>

      <h2 class="hero__subtitle">software artisan && hacktivist</h2>

      <p class="hero__bio">
        Operating from Córdoba, Argentina. Crafting <strong
          >ethical software</strong
        > that protects user agency and <em>resists exploitation</em>.
        Technology for <strong>humans</strong>, not profit.
      </p>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  .hero {
    display: flex;
    flex-direction: column;

    flex: 1;

    justify-content: center;

    padding-inline: var(--spacing-md);
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
  }

  .hero__title {
    font-size: clamp(1.75rem, 0.74rem + 4.49cqi, 3rem);
    font-weight: 800;
  }

  .highlight {
    display: inline-block;

    color: var(--color-primary);

    font-family: "Shantell Sans", cursive;
    font-variation-settings:
      "INFM" 100,
      "BNCE" 50;

    transition: color 200ms var(--curve-fast-out-slow-in);
  }

  .hero__subtitle {
    color: color-mix(in srgb, var(--color-on-surface) 89%, transparent);

    font-family: "Cascadia Code", monospace;
    font-weight: 400;
    font-size: clamp(1.125rem, 0.82rem + 1.35cqi, 1.5rem);

    transition: color 200ms var(--curve-fast-out-slow-in);
  }

  .hero__bio {
    font-size: clamp(1rem, 0.9rem + 0.45cqi, 1.125rem);
  }
</style>
