<ul class="project-list">
  <li class="project-list__item">
    <strong>K’uychi:</strong> A color palette tool built with TS and GJS (available
    on Flathub). It intelligently generates tints and shades based on a color’s luminosity,
    making it easy to copy hex codes for your designs.
  </li>

  <li class="project-list__item">
    <strong>Fabric:</strong> A meta-framework I’m architecting to manage multiple
    NixOS systems from a single flake.
  </li>
</ul>

<style>
  .project-list {
    display: flex;
    flex-direction: column;

    max-width: 65ch;

    margin: 0;
    padding-inline-start: var(--spacing-md);
    gap: var(--spacing-sm);
  }
</style>
