---
const today = new Date();
const initialYear = today.getFullYear();
---

<footer class="footer">
  <p class="footer__credits">
    Website powered by <a
      href="https://astro.build/"
      class="footer__link"
      target="_blank"
      rel="noopener noreferrer">Astro</a
    > • Hosted on <a
      href="https://pages.github.com/"
      class="footer__link"
      target="_blank"
      rel="noopener noreferrer">GitHub Pages</a
    >
  </p>

  <p class="footer__copyright">
    © <span id="copyright-year">{initialYear}</span> Naiara Gomez Castro • 🄯 <a
      href="/LICENSE.txt"
      class="footer__link"
      rel="license">Anti-Capitalist Software License</a
    >
  </p>
</footer>

<script>
  const copyrightYear = document.getElementById("copyright-year");
  const currentYear = new Date().getFullYear().toString();

  if (copyrightYear && copyrightYear.innerText !== currentYear) {
    copyrightYear.innerText = currentYear;
  }
</script>

<style>
  .footer {
    color: color-mix(in srgb, var(--color-on-surface) 55%, transparent);

    font-size: 0.75rem;
    text-align: center;

    padding: var(--spacing-md);

    transition: color 200ms var(--curve-fast-out-slow-in);
  }

  .footer__link {
    color: inherit;

    font-weight: 700;
    text-decoration-style: dotted;

    transition: color 200ms var(--curve-fast-out-slow-in);

    &:hover {
      text-decoration-style: solid;
    }
  }
</style>
