:root {
  --background-color: oklch(0.98 0 0);
  --foreground-color: oklch(0 0 0 / 80%);
  --accent-color: oklch(0.57 0.2 20);

  @media screen and (prefers-color-scheme: dark) {
    --background-color: oklch(0.2 0 0);
    --foreground-color: oklch(1 0 0);
    --accent-color: oklch(0.63 0.2 20);
  }
}
