---
import "@/styles/base.css";
import "@/styles/colors.css";
import "@/styles/curves.css";
import "@/styles/spacing.css";

interface Props {
  titleSuffix?: string | null | undefined;
}

const { titleSuffix } = Astro.props;

const titlePrefix = "nyx";
const title = titlePrefix + (titleSuffix ? ` :: ${titleSuffix}` : "");
---

<!doctype html>
<html class="page" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="color-scheme" content="light dark" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="/fonts/cascadia-code/cascadia-code.css" />
    <link rel="stylesheet" href="/fonts/inter-variable/inter-variable.css" />
    <link rel="stylesheet" href="/fonts/shantell-sans/shantell-sans.css" />

    <title>{title}</title>
  </head>

  <body class="page__body">
    <slot />
  </body>
</html>

<style>
  .page {
    background-color: var(--color-surface);
    color: var(--color-on-surface);

    font-family: "Inter Variable", sans-serif;
    font-size: 1rem;

    transition:
      background-color 200ms var(--curve-fast-out-slow-in),
      color 200ms var(--curve-fast-out-slow-in);
  }

  .page__body {
    display: flex;
    flex-direction: column;

    max-width: 80ch;
    min-height: 100svh;

    margin: 0 auto;

    container-name: body;
    container-type: inline-size;
  }
</style>
