---
import "@/styles/base.css";
import "@/styles/colors.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="color-scheme" content="light dark" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="/fonts/cascadia-code/cascadia-code.css" type="text/css" />
    <link rel="stylesheet" href="/fonts/inter-variable/inter-variable.css" type="text/css" />
    <link rel="stylesheet" href="/fonts/shantell-sans/shantell-sans.css" type="text/css" />

    <title>{title}</title>
  </head>

  <body>
    <slot />
  </body>
</html>
